<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-stacked" }) do |f| %>

  <% unless resource.errors.empty? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <p><strong>Oh snap! You got an error!</strong> Change this and that and <a href="#">try again</a>.</p>
      <ul>
        <li>Duis mollis est non commodo luctus</li>
        <li>Nisi erat porttitor ligula</li>
        <li>Eget lacinia odio sem nec elit</li>
      </ul>
      <div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>Sign up</legend>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn primary" %>
    </div>

  </fieldset>

<% end %>

<%= render :partial => "devise/shared/links" %>

