<%= content_for :head do %>
  <%= stylesheet_link_tag "flick/jquery-ui-1.8.16.custom.css" %>
  <%= javascript_include_tag "flock-controls.js" %>
  <script type="text/javascript">

    $(function() {
        $("#timecard_formatted_date").datepicker({
            showOn: "both",
            buttonImage: '<%= image_path "calendar.gif"  %>',
            buttonImageOnly : true
            });

        var availableTimes = <%= raw availableTimes %>;

        $("#timecard_start_time").timeselect({ source: availableTimes });

        $("#timecard_end_time").timeselect({ source: availableTimes });
    });

  </script>
<% end %>

<%= form_for(@timecard) do |f| %>
  <% if @timecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timecard.errors.count, "error") %> prohibited this timecard from being saved:</h2>

      <ul>
      <% @timecard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend></legend>

    <div class="clearfix">
      <%= f.label :formatted_date %>
      <div class="input">
        <%= f.text_field :formatted_date  %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :start_time %>
      <div class="input">
        <%= f.text_field :start_time, { :class => "medium" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :end_time %>
      <div class="input">
        <%= f.text_field :end_time, { :class => "medium" } %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn primary" %>
      <%= link_to 'Cancel', timecards_path, :class => "btn" %>
    </div>

  </fieldset>

<% end %>
