<h2>Timecard for: <%= current_user.email %></h2>

<br />
<%= link_to 'New Timecard', new_timecard_path %>

<br />
<br />
<div class="flock_pagination">
  <%= will_paginate :container => false %>
</div>

<br />
<table class="zebra-striped">
  <tr>
    <th>Volunteer date</th>
    <th>Start time</th>
    <th>End time</th>
    <td>Total time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.volunteer_date.strftime("%b %d, %Y") %></td>
    <td><%= timecard.start_time.strftime("%I:%M %P")  %></td>
    <td><%= timecard.end_time.strftime("%I:%M %P") %></td>
    <td><%= distance_of_time_in_words(timecard.start_time.to_i, timecard.end_time.to_i) %></td>
    <td><%= link_to 'Show', timecard %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Destroy', timecard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="flock_pagination">
  <%= will_paginate :container => false %>
</div>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
