<h2>Timecard for: <%= current_user.email %></h2>

<br />
<%= link_to 'New Timecard', new_timecard_path %>

<br />
<br />
<div class="flock_pagination">
  <%= will_paginate :container => false %>
</div>

<br />
<table class="zebra-striped">
  <tr>
    <th>Volunteer date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Total time</th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.formatted_date %></td>
    <td><%= timecard.start_time_string %></td>
    <td><%= timecard.end_time_string %></td>
    <td><%= pluralize(timecard.total_time, "hour") %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Delete', timecard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="flock_pagination">
  <%= will_paginate :container => false %>
</div>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
