<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @timecard.user_id %>
</p>

<p>
  <b>Volunteer date:</b>
  <%= @timecard.volunteer_date %>
</p>

<p>
  <b>Start time:</b>
  <%= @timecard.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @timecard.end_time %>
</p>


<%= link_to 'Edit', edit_timecard_path(@timecard) %> |
<%= link_to 'Back', timecards_path %>
